h2{
    margin: 20px 0 10px 0;
    padding-left: 15px;
}

#search {
    width: 1170px;
    padding-top: 90px;
    margin: 0 auto;
}

.headFilter {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 5px;
}

.form-control{
    position: relative;
    padding: 0 12px;
    display: inline-block;
    border-radius: 4px !important;
    height: 30px;
    font-size: 14px;
    margin: 1px;
    width: 257px;
    float: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

#SearchString {
    width: 549px;
}

#Display {
    border-radius: 5px;
    margin-top: 20px;
    height: 34px;
    background-color: rgb(13,47,126);
}
.display {
    line-height: 18px;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
}

.display_1 {
    width: 14%;
}

.display_2 {
    width: 70%;
}